main {
    width:500px;
    margin: auto;
}

.Q-One {
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
}

.Q-Two {
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
}

.Q-Three {
    display: flex;
    justify-content: center;
    align-items:center; 
    flex-direction: column;
}


.current-question {
    display: none;
}

.correct {
    display: none;
    color: green;
}

.wrong {
    display: none;
    color: red;
}